<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="PropChile">
        <meta name="author" content="KuttTechnology">
        <meta property="og:title" content="PropChile">
        <meta property="og:type" content="article" />
        <meta property="og:url" content="#">
        <meta property="og:image" content="#">
        <meta property="og:url" content="#">
    
        <meta name="description" content="PropChile, Ventas - Arriendos">
        <meta property="og:site_name" content="PropChile">
        <meta name="twitter:image" content="#">
        <title>PropChile</title>
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="images/logos/Logo.png">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="font/flaticon.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/fontawesome-5-all.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- ARCHIVES CSS -->
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/aos2.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/maps.css">
        <link rel="stylesheet" id="color" href="css/colors/pink.css">
        <link rel="stylesheet" href="formulario.css">
</head>

<body class="homepage-9 hp-6 homepage-1 mh">
    <style>
        .hp-6 .btn.btn-yellow {
            background-color: #ff9c00;
        }
        .hp-6 .btn, .homepage-3 .btn:active, .hp-6 .btn.sApp-btn::before, .hp-6 .bg-overlay::after, .hp-6 .benifits-item::after{
            background: linear-gradient(-47deg, #ff9c00 0%, #ff9c00 100%);
            background-color: #ff9c00;
        }
        .hp-6 a.btn.btn-yellow:hover{
            color : #ff9c00;
        }
        #navigation.style-1 ul li:hover {
            background: #ff9c00;
        }
        #navigation.style-1 ul li:hover {
            background-color: #ff9c00;
            color: #ff9c00;
        }
        .first-footer .netabout h3::after, .first-footer .navigation h3::after, .first-footer .widget h3::after, .first-footer .contactus h3::after {
            background-color: #ff9c00;
        }
        .btn.btn-outline-light, .first-footer .newsletters h3::after {
            background: #ff9c00;
        }
        .how-it-works article img{
            filter: brightness(0);
        }
        .homepage-9 .homes-tag.featured{
            background: #ff9c00 !important; 
        }
        .homepage-9 .portfolio .homes-content h3 a:hover, .homepage-9 .blog-section .news-item h3:hover {
            color: #ff9c00;
        }
        .homepage-1 .job_clientSlide .owl-nav .owl-prev:hover, .homepage-1 .job_clientSlide .owl-nav .owl-next:hover{
            background: #ff9c00;
        }
        .parallax-searchs.thome-1 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url('~PORTADA_INICIO~') no-repeat center top !important;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('~PORTADA_INICIO~') no-repeat center top !important;
            background-attachment: scroll, scroll;
        }
        .dark-overlay h1 {
        font-size: 32px !important;
        }
        .left-ul {
        float: left !important; /* Coloca el primer ul a la izquierda */
        }

        .right-ul {
            float: right !important; /* Coloca el segundo ul a la derecha */
        }
        .dark-overlay .main-search-inner {
            bottom: 315px;
        }
        @media only screen and (max-width: 450px){
            .dark-overlay .main-search-inner {
                bottom: 600px !important; 
            }
            .diplaynone{
                display: none !important;
            }
        }
        @media only screen and (max-width: 1025px){
            
            .diplaynone{
                display: none !important;
            }
        }
        @media only screen and (max-width: 991px){
            .dark-overlay .main-search-inner {
                bottom: 70px ;
            }
        }
        @media only screen and (max-height: 700px){
            .dark-overlay .main-search-inner {
                top:120px !important;
                
            }
            img{
                width: 160px !important; 
                margin-bottom: 0px !important; 
                border-radius: 8px;
            }
        }
        img{
            width: 260px; 
            margin-bottom: 0px !important; 
            border-radius: 8px;
        }
        .dark-overlay .main-search-inner {
                bottom: 10px;
            }
        .fullwidth-home-map.dark-overlay {
        margin-bottom: 0;
        }
        .homepage-9 .homes-tag.featured {
        background: #ff9c00 !important;
        }
        #navigation ul a {
            color: #fff;
        }
        
        
    </style>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container" class="header head-tr">
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container container-header mb-3">
                    <!-- Left Side Content -->
                    <div class="">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="index.html" >
                                <img src="images/logos/logo.png" data-sticky-logo="logo.png" alt="" style="width: 82px !important">
                            </a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr row">
                            <ul id="responsive" class="left-ul">
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="propiedades.html">Propiedades</a></li>
                            </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->

        <!-- STAR HEADER SEARCH -->
        <div id="propiedades">
            <div id="map-container" class="fullwidth-home-map dark-overlay" style="height: 50rem !important;
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/logos/head.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">
                <div id="hero-area" class="main-search-inner search-2 vid">
                
                    <div class="container" data-aos="zoom-in">
                        <div class="row">
                            <div class="col-12">
                                <div class="hero-inner">
                                    <!-- Welcome Text -->
                                    <div class="welcome-text" >
                                        <p class="diplaynone" style="margin: 0px !important;"><img style="width: 260px; margin-bottom: 0px !important; border-radius: 8px;"src="images/logos/logo.png"/></p>
                                        <h1 class="h1" style="text-transform: uppercase;"> Seguridad, estrategia y máxima rentabilidad inmobiliaria.</h1>
                                        <p style="margin: 8px !important;"> ¿Compras, vendes o arriendas una propiedad? Tenemos el servicio profesional perfecto para ti.</p>

                                    </div>
                                    <!--/ End Welcome Text -->
                                    <!-- Search Form -->
                                    <div class="col-12">
                                        <div class="banner-search-wrap">
                                            <div class="tab-content">
                                                <div class="tab-pane fade show active" id="tabs_1">
                                                    <div class="rld-main-search">
                                                        <div class="row">
                                                            <div class="rld-single-select">
                                                                <select id="#tipoPropiedad" class="select single-select" v-model="tipoPropiedad">
                                                                    <option value="">Tipo de propiedad</option>
                                                                    <option value="Departamento">Departamento</option>
                                                                    <option value="Casa">Casa</option>
                                                                    <option value="Oficina">Oficina</option>
                                                                    <option value="Terreno">Terreno</option>
                                                                    <option value="Sitio">Sitio</option>
                                                                    <option value="Local comercial">Local comercial</option>
                                                                    <option value="Parcela">Parcela</option>
                                                                </select>
                                                            </div>
                                                            <div class="rld-single-select">
                                                                <select class="select single-select" v-model="region" @change="cargaComunas()">
                                                                    <option value="">Región</option> 
                                                                    <option :value="item.Descripcion" v-for="item in listRegiones">{{item.Descripcion}}</option> 
                                                                </select>
                                                            </div>
                                                            <div class="rld-single-select ">
                                                                <select class="select single-select " v-model="comuna">
                                                                    <option value="">Comuna</option>                                                    
                                                                    <option :value="item.Descripcion" v-for="item in listComunas">{{item.Descripcion}}</option> 
                                                                </select>
                                                            </div>
                                                            <div class="rld-single-select">
                                                                <select class="select single-select" v-model="operacion">
                                                                    <option value="">Operación</option> 
                                                                    <option value="Venta">Venta</option>    
                                                                    <option value="Arriendo">Arriendo</option>                                               
                                                                </select>
                                                            </div>
                                                            <div class="rld-single-select">
                                                                <a  @click="buscar()" class="btn btn-yellow">Buscar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--/ End Search Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- END HEADER SEARCH -->

        <!-- END SECTION WHY CHOOSE US -->        
        <section class="featured portfolio bg-white rec-pro full-l" >
            <div class="container-fluid">
                <div class="sec-title">
                    <h2>Propiedades  <span>Disponibles</span></h2>
                </div>
                <div class="row portfolio-items">
                    <div class="item col-xl-6 col-lg-12 col-md-12 col-xs-12 landscapes sale" v-for="item in listPropiedades" >
                        <div class="project-single"style="height: 260px;">
                            <div class="project-inner project-head">
                                <div class="homes">
                                    <!-- homes img -->
                                    <a :href="'propiedad.html?'+item.Id" class="homes-img">
                                        <div class="homes-tag button alt featured">{{item.DescTipoOperacion}}
                                            
                                        </div>
                                        <!--<div class="homes-tag button alt sale">{{item.descTipoOperacion}}</div>-->
                                        <img :src="item.ImagenPortada" alt="home-1" class="img-responsive">
                                    </a>
                                </div>
                                <div class="button-effect">
                                    <a :href="'propiedad.html?'+item.Id" class="btn"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <!-- homes content -->
                            <div class="homes-content">
                                <!-- homes address -->
                                <h3><a :href="'propiedad.html?'+item.Id">{{item.DireccionReferencial1}}</a></h3>
                                <!-- homes List -->
                                <ul class="homes-list clearfix pb-3">
                                    <li class="the-icons">
                                        <i class="flaticon-bed mr-2" aria-hidden="true"></i>
                                        <span>{{item.Dormitorios}} Dormitorios</span>
                                    </li>
                                    <li class="the-icons">
                                        <i class="flaticon-bathtub mr-2" aria-hidden="true"></i>
                                        <span>{{item.Banos}} Baños</span>
                                    </li>
                                    <li class="the-icons">
                                        <i class="flaticon-square mr-2" aria-hidden="true"></i>
                                        <span>{{item.SupConstruida + item.SupTerreno + item.SupTerraza}} m<sup>2 </sup> totales</span>
                                    </li>
                                    <li class="the-icons">
                                        <i class="flaticon-car mr-2" aria-hidden="true"></i>
                                        <span>{{item.Estacionamientos}} Estacionamientos</span>
                                    </li>
                                </ul>
                                <div class="price-properties footer pt-3 pb-0">
                                    <h3 class="title mt-3">
                                    <a :href="'propiedad.html?'+item.Id">{{item.DescCodigoMoneda}} {{item.Precio.toLocaleString()}}</a>
                                    </h3>
                                    <div class="compare">
                                        <a :href="'propiedad.html?'+item.Id" title="Ver">
                                            <i class="far fa-eye"></i>
                                        </a>
                                        <a target="_blank" :href="'https://api.whatsapp.com/send?text=Échale un vistazo a esta propiedad: '+encodeURIComponent(window.location.origin + '/propiedad.html?' + item.Id)" title="Compartir">
                                            <i class="flaticon-share"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="bg-all">
                    <a href="propiedades.html" class="btn btn-outline-light">Ver más</a>
                </div>
            </div>
        </section>

                <!-- START SECTION WHY CHOOSE US -->
                <section class="why-choose-us py-5" style="background:#f8f9fa;">
                <div class="container">
                    <!-- Título -->
                    <div class="text-center mb-5">
                        <h6 style="color:#6c757d; letter-spacing:2px;">¿POR QUÉ</h6>
                        <h2 style="font-weight:700;">ELEGIRNOS?</h2>
                    </div>
                    <!-- Descripción principal -->
                    <div class="row justify-content-center mb-5">
                        <div class="col-lg-8 text-center">
                            <p style="font-size:18px; line-height:1.8;">
                                <strong>Catali Propiedades</strong> es especialista en arriendos corporativos y venta de propiedades en Calama,
                                destacando por maximizar la rentabilidad de cada inversión mediante una gestión profesional,
                                segura y estratégica.
                            </p>
                            <p style="font-size:18px; line-height:1.8;">
                                Nuestro enfoque en respaldo contractual, administración eficiente y relaciones comerciales sólidas
                                nos convierte en un aliado confiable para propietarios y empresas.
                            </p>
                        </div>
                    </div>
                    <!-- 3 columnas destacadas -->
                    <div class="row text-center">
                        <div class="col-md-4 mb-4">
                            <div style="background:#fff; padding:30px; border-radius:12px; box-shadow:0 4px 15px rgba(0,0,0,0.05);">
                                <h5 style="font-weight:600;">Gestión Profesional</h5>
                                <p>Administración eficiente y estratégica enfocada en resultados reales.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div style="background:#fff; padding:30px; border-radius:12px; box-shadow:0 4px 15px rgba(0,0,0,0.05);">
                                <h5 style="font-weight:600;">Respaldo y Seguridad</h5>
                                <p>Contratos sólidos y procesos seguros que protegen cada inversión.</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div style="background:#fff; padding:30px; border-radius:12px; box-shadow:0 4px 15px rgba(0,0,0,0.05);">
                                <h5 style="font-weight:600;">Alianzas Estratégicas</h5>
                                <p>Relaciones comerciales sólidas que potencian oportunidades.</p>
                            </div>
                        </div>
                    </div>
    </div>
</section>
        <!-- START SECTION TESTIMONIALS -->
        <section class="testimonials bg-white rec-pro">
            <div class="container-fluid">
                <div class="sec-title">
                    <h2>Testimonios de nuestros <span>clientes</span></h2>
                </div>
                <div class="owl-carousel job_clientSlide">
                    <div class="singleJobClinet" v-for="(testimonial, index) in testimonials" :key="index" data-aos="zoom-in" data-aos-delay="150">
                    <p>{{ testimonial.content }}</p>
                    <div class="detailJC">
                        <h5>{{ testimonial.client }}</h5>
                        <p>{{ testimonial.location }}, {{ testimonial.year }}</p>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- START SECTION FEATURED PROPERTIES -->
        
    </div>
        <!-- END SECTION FEATURED PROPERTIES -->

        
        <!-- END SECTION TESTIMONIALS -->
        <!-- START FOOTER -->
        <footer>
            <div class="section-f">
                <div>
                    <ul class="list-inline">
                        <img class="list-inline-item" src="images/logos/Logo.png" alt="" style="width: 250px; text-align: left !important; margin-bottom: 12px;"><br>
                    </ul>
                </div>
                <div>
                    <ul class="list-inline">
                        <h4>Contacto</h4>
                        <li><a href="https://api.whatsapp.com/send?phone=56977016416" target="_blank"><i class="fab fa-whatsapp"></i> +56 9 30045772</a></li>
                        <li> <a target="_blank" href="mailto:info@propchileservicios.cl"><i class="fab fa-mail"></i>contacto@catalipropiedades.com</a></li>
                        
                        <!-- <li><a href="https://www.linkedin.com/company/propium-agencia-inmobiliaria" target="_blank"><i class="fab fa-linkedin"></i> @propium-agencia-inmobiliaria</a></li>  -->
                        <!-- <li><a href="https://www.instagram.com/propium.cl" target="_blank"><i class="fab fa-instagram"></i> @propium.cl</a></li>  -->
                        <!-- <li><a href="https://www.facebook.com/propium.cl" target="_blank"><i class="fab fa-facebook"></i> @propium.cl</a></li>  -->
                        <!-- <li><a href="https://www.youtube.com/@propium-agencia" target="_blank"><i class="fab fa-youtube"></i> @propium-agencial</a></li>  -->
                    </ul>
                </div>
                <!-- <div>
                    <ul class="list-inline">
                        <h4>Enlaces útiles</h4>
                        <li><a href="https://cbrls.cl/" target="_blank">CBR La Serena</a></li>
                        <li><a href="https://cbrcoquimbo.cl/" target="_blank">CBR Coquimbo</a></li>
                        <li><a href="https://www.conservadorvicuna.cl/" target="_blank">CBR Vicuña</a></li>
                        <li><a href="https://www.tgr.cl/" target="_blank">TGR</a></li>
                        <li><a href="https://homer.sii.cl/" target="_blank">SII</a></li>
                        <li><a href="https://www.sii.cl/valores_y_fechas/uf/uf2024.htm" target="_blank">Valor UF</a></li>
                    </ul>
                </div> -->
            </div>
        </footer>

        <a  href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

        <!-- START PRELOADER -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>
        <!-- END PRELOADER -->

        <!-- ARCHIVES JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/rangeSlider.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/moment.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mmenu.min.js"></script>
        <script src="js/mmenu.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/aos2.js"></script>
        <script src="js/animate.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/lightcase.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/ajaxchimp.min.js"></script>
        <script src="js/newsletter.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/searched.js"></script>
        <script src="js/forms-2.js"></script>
        <script src="js/map-style2.js"></script>
        <script src="js/range.js"></script>
        <script src="js/color-switcher.js"></script>
        <script src="https://saas.proki.cl/class/strix-cargo.js"></script>
        <script>
            let app1 = new Vue({
                el:'#propiedades',
                methods:{
                    buscar : async function (){
                        location.href = `propiedades.html?&type=${app1.tipoPropiedad}&region=${app1.region}&commune=${app1.comuna}&operation=${app1.operacion}`;
                    },
                    /*sendContact : async function(){
                        mensaje_final = `Tiene una renta de ${this.credentials.renta} ${this.credentials.motivo} y esta interesado en la comuna de ${this.credentials.comunaForm}`
                        cargo.post();
                        cargo.send({
                            url : `https://api.kutt.cl/utils/send_contact?&email=${this.credentials.email}&name=${this.credentials.nombre}&cellphone=${this.credentials.telefono}&subject=CONTACTO&message=${mensaje_final}`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        console.log(cargo.container)
                        debugger
                    }*/
                    cargaPropiedades : async function (){
                        cargo.get();
                        await cargo.send({
                            url : `https://api.kutt.cl/Properties?page=1&pageSize=4&order=Id%20DESC`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        this.listPropiedades = JSON.parse(cargo.container.data.package);
                    },
                    cargaRegiones : async function(){
                        cargo.get();
                        await cargo.send({
                            url : `https://api.kutt.cl/Parameters/Region?available=true`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        const regex = /(REGIÓN DEL|REGION DEL|REGIÓN DE|REGION DE|REGIÓN)/g;
                            this.listRegiones.forEach((region) => {
                                region.descripcion = region.descripcion.replace(regex, "").trim();
                        });
                        this.listRegiones = JSON.parse(cargo.container.data.package);
                    },
                    cargaComunas : async function (){
                        cargo.get();
                        await cargo.send({
                            url : `https://api.kutt.cl/Parameters/Commune?region=${this.region}&available=true`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        this.listComunas = JSON.parse(cargo.container.data.package);
                    },
                    async getUFValue() {
                        fetch('https://www.mindicador.cl/api').then(function(response) {
                            return response.json();
                        }).then(function(dailyIndicators) {
                            document.getElementById("UF").innerHTML = 'Valor UF $' + dailyIndicators.uf.valor;
                            document.getElementById("DolarO").innerHTML = 'El valor actual del Dólar observado es $' + dailyIndicators.dolar.valor;
                            document.getElementById("DolarA").innerHTML = 'El valor actual del Dólar acuerdo es $' + dailyIndicators.dolar_intercambio.valor;
                            document.getElementById("Euro").innerHTML = 'El valor actual del Euro es $' + dailyIndicators.euro.valor;
                            document.getElementById("IPC").innerHTML = 'El valor actual del IPC es ' + dailyIndicators.ipc.valor;
                            document.getElementById("UTM").innerHTML = 'El valor actual de la UTM es $' + dailyIndicators.utm.valor;
                            document.getElementById("IVP").innerHTML = 'El valor actual del IVP es $' + dailyIndicators.ivp.valor;
                            document.getElementById("Imacec").innerHTML = 'El valor actual del Imacec es ' + dailyIndicators.imacec.valor;
                        }).catch(function(error) {
                            console.log('Requestfailed', error);
                        });
                        console.log(this.response);
                    },
                },
                async beforeMount(){
                    this.cargaPropiedades();
                    this.cargaRegiones();
                    this.cargaComunas();
                    this.getUFValue();
                    
                },
                data () {
                    return {
                        listPropiedades : {},
                        listRegiones : [],
                        listComunas : [],
                        orden : 1,
                        respuesta:null,
                        
                        tipoPropiedad: "",
                        region : "",
                        comuna : "",
                        operacion : "",

                        credentials : {
                            nombre : "",
                            apellido : "",
                            email : "",
                            telefono : "",
                            renta : "",
                            motivo : "",
                            comunaForm : "",
                        },
                        testimonials: [
                            {
                            content: "“Me ayudaron a encontrar el departamento perfecto y todo el proceso fue fluido y transparente. Desde el inicio, el equipo mostró un profesionalismo que marcó la diferencia. ¡Los recomiendo sin dudas!”",
                            client: "María Elena Fernández A.",
                            location: "Chile",
                            year: "2024"
                            },
                            {
                            content: "Vendí mi casa con Catali Propiedades y no pude haber tenido una experiencia mejor. Me sentí apoyado y bien informado en cada paso, y el equipo logró una venta rápida y a un excelente precio.",
                            client: "Roberto Vargas G.",
                            location: "Chile",
                            year: "2024"
                            },
                            {
                            content: "Como arrendadora, había tenido problemas con otros servicios, pero Catali Propiedades realmente me demostró la importancia de un equipo dedicado. Encontraron arrendatarios confiables para mi propiedad y manejaron todo con gran eficiencia.",
                            client: "Patricia Navarro Lira L.",
                            location: "Chile",
                            year: "2024"
                            },
                            {
                            content: "Con Catali Propiedades, vender mi departamento fue mucho más fácil de lo que esperaba. Me orientaron desde el principio, ofreciendo asesoría clara y transparente, y consiguieron una venta en menos tiempo del previsto.",
                            client: "Claudia Guzmán T.",
                            location: "Chile",
                            year: "2024"
                            },
                            {
                            content: "El equipo de Catali Propiedades me ayudó a arrendar mi casa de forma rápida y sin complicaciones. Me mantuvieron informado y se encargaron de todos los detalles. Un servicio impecable y profesional.",
                            client: "Daniela Riquelme Soto A.",
                            location: "Chile",
                            year: "2024"
                            },
                        ]
                    }
                }
            });
        </script>
        <!-- Slider Revolution scripts -->
        <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>

        <script>
            
            $('.slick-lancers').slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 1,
                dots: true,
                arrows: false,
                adaptiveHeight: true,
                responsive: [{
                    breakpoint: 1292,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 993,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        dots: true,
                        arrows: false
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: true,
                        arrows: false
                    }
                }]
            });

        </script>

        <script>
            $('.job_clientSlide').owlCarousel({
                items: 2,
                loop: true,
                margin: 30,
                autoplay: false,
                nav: true,
                smartSpeed: 1000,
                slideSpeed: 1000,
                navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    991: {
                        items: 3
                    }
                }
            });

        </script>

        <script>
            $('.style2').owlCarousel({
                loop: true,
                margin: 0,
                dots: false,
                autoWidth: false,
                autoplay: true,
                autoplayTimeout: 5000,
                responsive: {
                    0: {
                        items: 2,
                        margin: 20
                    },
                    400: {
                        items: 2,
                        margin: 20
                    },
                    500: {
                        items: 3,
                        margin: 20
                    },
                    768: {
                        items: 4,
                        margin: 20
                    },
                    992: {
                        items: 5,
                        margin: 20
                    },
                    1000: {
                        items: 7,
                        margin: 20
                    }
                }
            });

        </script>

        <script>
            $(".dropdown-filter").on('click', function() {
                $(".explore__form-checkbox-list").toggleClass("filter-block");
            });

        </script>

        <!-- MAIN JS -->
        <script src="js/script.js"></script>

    </div>
    <!-- Wrapper / End -->
</body>

</html>
