<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="PropChile">
        <meta name="author" content="Kutt-Technology">
        <meta property="og:title" content="PropChile">
        <meta property="og:type" content="article" />
        <meta property="og:url" content="#">
        <meta property="og:image" content="#">
        <meta property="og:url" content="#">
    
        <meta name="description" content="PropChile, Ventas - Arriendos">
        <meta property="og:site_name" content="PropChile">
        <meta name="twitter:image" content="#">
        <title>PropChile</title>
        <!-- FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="images/logos/Logo.png">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i%7CMontserrat:600,800" rel="stylesheet">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="font/flaticon.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/fontawesome-5-all.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- ARCHIVES CSS -->
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/aos.css">
        <link rel="stylesheet" href="css/aos2.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/maps.css">
        <link rel="stylesheet" id="color" href="css/colors/pink.css">
        <link rel="stylesheet" href="formulario.css">
</head>
<body class="inner-pages sin-1 homepage-4 hd-white">
    <style>
        .leaflet-div-icon::before, .map-marker::before {
            border-top-color: #ff9c00 !important;
        }
        .leaflet-div-icon, .map-marker{
            background-color: #ff9c00;
            border: 5px solid #ff9c00;
        }
        .listing-details-sliders .right, .listing-details-sliders .left{
            background: #ff9c00;
        }
        #navigation.style-1 ul li:hover {
            background: #ff9c00;
        }
        #navigation.style-1 ul li:hover {
            background-color: #ff9c00;
            color: #ff9c00;
        }
        .sidebar-widget .author__contact li span i{
            color:#ff9c00;
        }
        .inner-pages .headings-2 .listing-title-bar h4{
            color:#ff9c00;
        }
        .sidebar .sidebar-widget .author__contact li a:hover{
            color:#ff9c00
        }
        .inner-pages .headings-2 span.category-tag{
            background:#ff9c00;
        }
        .inner-pages .blog .homes-content h5::after, .inner-pages .blog .blog-info.details h5::after, .inner-pages .blog .property-location h5::after, .inner-pages .blog .team.assigned h5::after, .inner-pages .carousel h5::after, .wprt-image-video.w50.pro h5::after, .similar-property h5::after, .ag-de .blog-section h5::after {
            color: #ff9c00;
            background-color: #ff9c00;
        }
        #navigation.style-1 ul li:hover {
            background-color: #ff9c00;
            color: #ff9c00;
        }
        .inner-pages.homepage-4 #navigation.style-1 ul li:hover {
            background: #ff9c00;
        }
        .inner-pages.hp-6.full .parallax-searchs .form-group .nice-select:hover, .inner-pages.hp-6.full .dropdown-filter span::after, .inner-pages.hp-6.full .btn.btn-yellow:hover {
            color: #ff9c00;
        }
        .inner-pages.hp-6.full .btn.btn-yellow {
            background: #ff9c00;
        }
        .inner-pages.homepage-4 .first-footer .navigation h3::after, .inner-pages.homepage-4 .first-footer .widget h3::after, .inner-pages.homepage-4 .first-footer .newsletters h3::after, .inner-pages.homepage-4 .first-footer .bloq-email .email input[type="submit"], .inner-pages.homepage-4 .go-up {
            background: #ff9c00;
        }
        .homepage-4 .portfolio .homes-content h3 a:hover, .homepage-4 .blog-section .news-item h3:hover {
            color: #ff9c00;
        }
        #navigation.style-1.head-tr ul li a  {
        color: #ff9c00 !important;
        }
        #navigation.style-1.head-tr ul li a:hover {
            color: #fff !important;
        }
        .left-ul {
        float: left !important; /* Coloca el primer ul a la izquierda */
        }

        .right-ul {
            float: right !important; /* Coloca el segundo ul a la derecha */
        }

        </style>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <header id="header-container">
            <!-- Header -->
            <div id="header" class="head-tr bottom">
                <div class="container container-header mb-3">
                    <!-- Left Side Content -->
                    <div class="">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="index.html" >
                                <img src="images/logos/logo.png" data-sticky-logo="logo.png" alt="" style="width: 82px !important">
                            </a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1 head-tr row">
                            <ul id="responsive" class="left-ul">
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="propiedades.html">Propiedades</a></li>
                            </ul>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                </div>
            </div>
            <!-- Header / End -->
        </header>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <!-- END SECTION HEADINGS -->

        <!-- START SECTION PROPERTIES LISTING -->
        <section class="single-proper blog details" id="todo">
            <div class="container">
                
                <div class="row">
                    <div class="col-lg-8 col-md-12 blog-pots">
                        <div class="row">
                            <div class="col-md-12">
                                <section class="headings-2 pt-0">
                                    <div class="pro-wrapper">
                                        <div class="detail-wrapper-body">
                                            <div class="listing-title-bar">
                                                <h3>{{propiedad.DireccionReferencial1}}<br> <span class="mrg-l-5 category-tag">{{propiedad.DescTipoOperacion}}</span></h3>
                                            </div>
                                        </div>
                                        <div class="single detail-wrapper mr-2">
                                            <div class="detail-wrapper-body">
                                                <div class="listing-title-bar">
                                                    <h4>{{propiedad.DescCodigoMoneda}} {{propiedad.Precio}}</h4>
                                                    <div class="mt-0"> 
                                                        <a href="#listing-location" class="listing-address">
                                                            <p>{{propiedad.DescTipoPropiedad}}</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- main slider carousel items -->
                                <div id="listingDetailsSlider" class="carousel listing-details-sliders slide mb-30">
                                    <h5 class="mb-4">Fotos</h5>
                                    <div class="carousel-inner">
                                        <div class="item carousel-item" :class="index==0 ? 'active' : ''" :data-slide-number="index" v-for="(item, index) in images">
                                            <img :src="item.Ruta" class="img-fluid" alt="slider-listing">
                                        </div>
                                        <a class="carousel-control left" href="#listingDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                        <a class="carousel-control right" href="#listingDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                    <!-- main slider carousel nav controls -->
                                    <ul class="carousel-indicators smail-listing list-inline">
                                        <li class="list-inline-item active" v-for="(item, index) in images">
                                            <a @click="key*=-1;" :id="'carousel-selector-'+index" class="" :data-slide-to="index" data-target="#listingDetailsSlider"  >
                                                <img :src="item.Ruta" class="img-fluid" alt="listing-small">
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- main slider carousel items -->
                                </div>
                                <div class="blog-info details mb-30">
                                    <h5 class="mb-4">Descripción</h5>
                                    <p class="mb-3">{{propiedad.DescPropiedad}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="single homes-content details mb-30">
                            <!-- title -->
                            <h5 class="mb-4">Detalles de la propiedad</h5>
                            <ul class="homes-list clearfix">
                                <li>
                                    <span class="font-weight-bold mr-1">Código:</span>
                                    <span class="det">{{propiedad.Id}}</span>
                                </li>
                                <li>
                                    <span class="det">En {{propiedad.DescTipoOperacion}}</span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Precio:</span>
                                    <span class="det">{{propiedad.DescCodigoMoneda}} {{propiedad.Precio}}</span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Metros construidos:</span>
                                    <span class="det">{{propiedad.SupConstruida}} m<sup>2 </sup></span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Metros terraza:</span>
                                    <span class="det">{{propiedad.SupTerraza}} m<sup>2 </sup></span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Dormitorios:</span>
                                    <span class="det">{{propiedad.Dormitorios}}</span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Baños:</span>
                                    <span class="det">{{propiedad.Banos}}</span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Estacionamientos:</span>
                                    <span class="det">{{propiedad.Estacionamientos}}</span>
                                </li>
                                <li>
                                    <span class="font-weight-bold mr-1">Año de construcción:</span>
                                    <span class="det">{{propiedad.AnoConstruccion}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="property wprt-image-video w50 pro" v-if="propiedad.IdMatterPort && propiedad.IdMatterPort.includes('youtube')">
                            <h5>Video Tour</h5>
                            <iframe style="height: 350px; width: 100%; margin: 0 auto; display: flex;"
                                :src="propiedad.IdMatterPort.replace('watch?v=','embed/')" >
                            </iframe> 
                        </div>
                        <div class="property wprt-image-video w50 pro" v-if="propiedad.IdMatterPort && !propiedad.IdMatterPort.includes('youtube')">
                            <h5>Tour virtual</h5>
                            <iframe style="height: 350px; width: 100%; margin: 0 auto; display: flex;" 
                            :src="'https://my.matterport.com/show-mds?m='+propiedad.IdMatterPort" frameborder="0" scrolling="no"></iframe>
                        </div>
                        <!-- <div class="property-location map">
                            <h5>Ubicación</h5>
                            <div class="divider-fade"></div>
                            <div id="map-contact" class="contact-map"></div>
                        </div> -->
                    </div>
                    <aside class="col-lg-4 col-md-12 car">
                        <div class="single widget">
                            <!-- End: Schedule a Tour -->
                            <!-- end author-verified-badge -->
                            <div class="sidebar">
                                <div class="widget-boxed mt-33">
                                    <div class="widget-boxed-header">
                                        <h4>Información del agente</h4>
                                    </div>
                                    <div class="widget-boxed-body">
                                        <div class="sidebar-widget author-widget2">
                                            <div class="author-box clearfix">
                                                <h4 class="author__title">{{propiedad.DescAgenteDueno}}</h4>
                                                <p class="author__meta">Agente inmobiliario</p>
                                                <p>Seleccione el número de teléfono o correo para contactar con el agente.</p>
                                            </div>
                                            <ul class="author__contact">
                                                <li><span class="la la-phone"><i class="fab fa-whatsapp" aria-hidden="true"></i></span><a target="_blank" :href="'https://api.whatsapp.com/send?phone='+propiedad.TelefonoAgenteDueno">{{propiedad.TelefonoAgenteDueno}}</a></li>
                                                
                                                <li><span class="la la-envelope-o"><i class="fa fa-envelope" aria-hidden="true"></i></span><a target="_blank" :href="'mailto:'+propiedad.MailAgenteDueno" >{{propiedad.MailAgenteDueno}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-search-field-2">
                                    <div class="widget-boxed mt-5">
                                        <div class="widget-boxed-header">
                                            <h4>Propiedades recientes</h4>
                                        </div>
                                        <div class="widget-boxed-body">
                                            <div class="recent-post">
                                                <div class="recent-main my-4" v-for="item in recientes">
                                                    <div class="recent-img">
                                                        <a href="blog-details.html"><img :src="item.ImagenPortada" alt=""></a>
                                                    </div>
                                                    <div class="info-img">
                                                        <a href="blog-details.html"><h6>{{item.DireccionReferencial1}}</h6></a>
                                                        <p>{{item.DescCodigoMoneda}} {{item.Precio}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- END SECTION PROPERTIES LISTING -->

        <!-- START FOOTER -->
        <footer>
            <div class="section-f">
                <div>
                    <ul class="list-inline">
                        <img class="list-inline-item" src="images/logos/Logo.png" alt="" style="width: 250px; text-align: left !important; margin-bottom: 12px;"><br>
                    </ul>
                </div>
                <div>
                    <ul class="list-inline">
                        <h4>Contacto</h4>
                        <li><a href="https://api.whatsapp.com/send?phone=56977016416" target="_blank"><i class="fab fa-whatsapp"></i> +56 9 93129609</a></li>
                        <li> <a target="_blank" href="mailto:info@propchileservicios.cl"><i class="fab fa-mail"></i>info@propchileservicios.cl</a></li>
                        
                        <!-- <li><a href="https://www.linkedin.com/company/propium-agencia-inmobiliaria" target="_blank"><i class="fab fa-linkedin"></i> @propium-agencia-inmobiliaria</a></li>  -->
                        <!-- <li><a href="https://www.instagram.com/propium.cl" target="_blank"><i class="fab fa-instagram"></i> @propium.cl</a></li>  -->
                        <!-- <li><a href="https://www.facebook.com/propium.cl" target="_blank"><i class="fab fa-facebook"></i> @propium.cl</a></li>  -->
                        <!-- <li><a href="https://www.youtube.com/@propium-agencia" target="_blank"><i class="fab fa-youtube"></i> @propium-agencial</a></li>  -->
                    </ul>
                </div>
                <!-- <div>
                    <ul class="list-inline">
                        <h4>Enlaces útiles</h4>
                        <li><a href="https://cbrls.cl/" target="_blank">CBR La Serena</a></li>
                        <li><a href="https://cbrcoquimbo.cl/" target="_blank">CBR Coquimbo</a></li>
                        <li><a href="https://www.conservadorvicuna.cl/" target="_blank">CBR Vicuña</a></li>
                        <li><a href="https://www.tgr.cl/" target="_blank">TGR</a></li>
                        <li><a href="https://homer.sii.cl/" target="_blank">SII</a></li>
                        <li><a href="https://www.sii.cl/valores_y_fechas/uf/uf2024.htm" target="_blank">Valor UF</a></li>
                    </ul>
                </div> -->
            </div>
        </footer>

        <a  href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
        <!-- END FOOTER -->

        <!-- ARCHIVES JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/range-slider.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mmenu.min.js"></script>
        <script src="js/mmenu.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/slick4.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/popup.js"></script>
        <script src="js/ajaxchimp.min.js"></script>
        <script src="js/newsletter.js"></script>
        <script src="js/timedropper.js"></script>
        <script src="js/datedropper.js"></script>
        <script src="js/jqueryadd-count.js"></script>
        <script src="js/leaflet.js"></script>
        <script src="js/leaflet-gesture-handling.min.js"></script>
        <script src="js/leaflet-providers.js"></script>
        <script src="js/leaflet.markercluster.js"></script>
        <!--<script src="js/map-single.js"></script>-->
        <script src="js/color-switcher.js"></script>
        <script src="js/inner.js"></script>
        <script src="https://saas.proki.cl/class/strix-cargo.js"></script>
        <script>
            let app1 = new Vue({
                el:'#todo',
                methods : {
                    cargaPropiedad : async function (){
                        cargo.get();
                        await cargo.send({
                            url : `https://api.kutt.cl/Properties/details?id=${this.id}`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        this.propiedad = JSON.parse(cargo.container.data.package)[0];
                        this.images = JSON.parse(cargo.container.data.images);
                    },
                    cargaRecientes : async function (){
                        cargo.get();
                        await cargo.send({
                            url : `https://api.kutt.cl/Properties?page=1&pageSize=3&order=Id%20DESC`,
                            headers: {
                                "Authorization": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMDYwIiwiYXVkIjoic2FuZGJveCIsImlhdCI6MTUxNjIzOTAyMiwidmVyc2lvbiI6MX0.Ig60_tRJSoaV8W4EMcNwRTEdCnHu-TIa8eUoyzB8VJA"
                            },
                        });
                        this.recientes = JSON.parse(cargo.container.data.package) ;
                    },
                    cargaMap : async function(){
                        if ($('#map-contact').length) {
                        var map = L.map('map-contact', {
                            zoom: 16,
                            maxZoom: 19,
                            tap: false,
                            gestureHandling: true,
                            center: [this.propiedad.Latitud, this.propiedad.Longitud]
                        });

                        map.scrollWheelZoom.disable();

                        var Hydda_Full = L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
                            scrollWheelZoom: false,
                            attribution: '<a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        var icon = L.divIcon({
                            html: '<i class="fa fa-building"></i>',
                            iconSize: [50, 50],
                            iconAnchor: [50, 50],
                            popupAnchor: [-20, -42]
                        });

                        var marker = L.marker([this.propiedad.Latitud, this.propiedad.Longitud], {
                            icon: icon
                        }).addTo(map);
                        }
                    },
                    async getUFValue() {
                        fetch('https://www.mindicador.cl/api').then(function(response) {
                            return response.json();
                        }).then(function(dailyIndicators) {
                            document.getElementById("UF").innerHTML = 'Valor UF $' + dailyIndicators.uf.valor;
                            document.getElementById("DolarO").innerHTML = 'El valor actual del Dólar observado es $' + dailyIndicators.dolar.valor;
                            document.getElementById("DolarA").innerHTML = 'El valor actual del Dólar acuerdo es $' + dailyIndicators.dolar_intercambio.valor;
                            document.getElementById("Euro").innerHTML = 'El valor actual del Euro es $' + dailyIndicators.euro.valor;
                            document.getElementById("IPC").innerHTML = 'El valor actual del IPC es ' + dailyIndicators.ipc.valor;
                            document.getElementById("UTM").innerHTML = 'El valor actual de la UTM es $' + dailyIndicators.utm.valor;
                            document.getElementById("IVP").innerHTML = 'El valor actual del IVP es $' + dailyIndicators.ivp.valor;
                            document.getElementById("Imacec").innerHTML = 'El valor actual del Imacec es ' + dailyIndicators.imacec.valor;
                        }).catch(function(error) {
                            console.log('Requestfailed', error);
                        });
                        console.log(this.response);
                    },
                },
                async beforeMount(){
                    this.id = Number(location.search.replaceAll("?",""));
                    await this.cargaPropiedad();
                    this.cargaRecientes();
                    this.cargaMap();
                    this.getUFValue();
                },
                data () {
                    return {
                        propiedad : {},
                        recientes : {},
                        images :[],
                        key : 1,
                    }
                }
            });
        </script>

    </div>
    <!-- Wrapper / End -->
</body>

</html>
